<?xml version="1.0" encoding="utf-8"?>
<!--Modifed from lf_slim.launch-->
<launch>
    <!-- start basic args -->
    <arg name="veh" default="$(env VEHICLE_NAME)"/>
    <arg name="config" default="baseline" />
    <arg name="param_file_name" default="default" />
    <arg name="verbose" default="true" />
    <arg name="loc" default="-1"/>

    <group>
        <remap from="inverse_kinematics_node/car_cmd" to="lane_controller_node/car_cmd"/>
        <remap from="inverse_kinematics_node/wheels_cmd" to="wheels_driver_node/wheels_cmd" />
        <include file="$(find dagu_car)/launch/inverse_kinematics_node.launch">
            <arg name="veh" value="$(arg veh)"/>
            <arg name="config" value="$(arg config)"/>
        </include>
    </group>

    <group>
        <remap from="open_loop/car_cmd" to="lane_controller_node/car_cmd" />
        <include file="$(find amir_mp2)/launch/open_loop.launch">
            <arg name="veh" value="$(arg veh)"/>
            <arg name="config" value="$(arg config)"/>
        </include>
    </group>

</launch>
