<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="pkg_name" value="mp3_lane_filter_ht"/>
    <arg name="node_name" default="mp3_ht_lane_filter"/>
    <arg name="veh" doc="amirfr"/>
    <arg name="config" default="baseline" doc="Specify a config."/>

    <group ns="$(arg veh)">
        <node  name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen" clear_params="true" required="true"/>
    </group>
</launch>
